.tdCustomContainer {
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  th {
    font-weight: 550;
    font-size: 12px;
    min-width: 140px;
    border-bottom-width: 1px;
    padding: 2px; /* Padding of 2 pixels */
    text-align: center; /* Center-align the column names */
    position: sticky;
    background-color: LightGray;
  }

  td {
    font-weight: 300;
    font-size: 14px;
    vertical-align: top;
    padding: 2px; /* Padding of 2 pixels */
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    text-align: center; /* Center-align the table content */
  }

  .striped:nth-child(even) {
    background-color: #e9edf0;
  }

  .hover:hover {
    background-color: #d3d3d3;
  }

  overflow-y: scroll;
  height: 57vh;
  border-width: 1px;
  border-color: #d3d3d3;
  border-style: solid;
  border-radius: 5px;
  margin: 0.1vh;
}

.TheadFixed {
  height: 3rem;
  position: sticky;
  z-index: 999;
  top: 0;
}

.custom {
  display: flex;
  height: 35px;
  width: 240px;
  margin: 8px;
  margin-left: 4.9vh;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
}

.customButton {
  display: flex;
  height: 35px;
  width: 70px;
  margin: 8px;
  margin-left: 10px;
  justify-content: center;
}
